<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Karar Destek Sistemli Kredibilite Testi</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	  <input type="text" name="krediMiktari" placeholder="Çekmek istediğiniz kredi miktarı?" required="required" />
        <input type="text" name="yas" placeholder="Kaç yaşındasınız?" required="required" />
		    <input type="text" name="evDurumu" placeholder="Ev sahibiyseniz 1, kiracıysanız 0 giriniz." required="required" />
		    <input type="text" name="aldigi_kredi_sayi" placeholder="Daha önce kaç kez kredi çektiniz?" required="required" />
		    <input type="text" name="telefonDurumu" placeholder="Telefon sahibiyseniz 1, değilseniz 0 giriniz. " required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Kredibilitem Nasıl?</button>
    </form>

   <br>
   {{ prediction_text }}

 </div>



</body>
<br>

<br>

</html>
